<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>資料一覧</title>
</head>

<body>
	<header th:replace="header">
		<a href="/staff/materialMg/bookList">
			<h1>資料一覧</h1>
		</a>
	</header>
	<div class="sortbutton">
		<form action="/staff/staffDetailSearch/jporder" method="get">
			<input type="hidden" name="bookIds" th:value="${bookIds}">
			<button type="submit">50音昇順</button>
		</form>

		<form action="/staff/staffDetailSearch/popularity" method="get">
			<input type="hidden" name="bookIds" th:value="${bookIds}">
			<button type="submit">人気順</button>
		</form>

		<form action="/staff/staffDetailSearch/pubYear" method="get">
			<input type="hidden" name="bookIds" th:value="${bookIds}">
			<button type="submit">出版年順</button>
		</form>
	</div>

	<form action="/staff/staffDetailSearch" method="post">
		<div class="searchtable">
			<input type="text" name="title" placeholder="タイトル">
			<input type="text" name="category" placeholder="分類番号">
			<input type="text" name="author" placeholder="著者">
			<input type="text" name="publisher" placeholder="出版社">
			<input type="date" name="publishDay" placeholder="出版日">
		<button class="searchbutton">検索</button>
		</div>
	</form>

	<a href="/staff/materialMg/create">資料登録</a>
	<a href="/staff/materialMg">戻る</a>


	<table border="1">
		<tr>
			<th>ID</th>
			<th>分類番号</th>
			<th>タイトル</th>
			<th>著者</th>
			<th>出版社</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each="book:${bookList}">
			<td th:text="${book.id}"></td>
			<td th:text="${book.category.categoryNum}"></td>
			<td>
				<a th:href="@{/staff/{id}/bookdetail(id=${book.id})}" th:text="${book.title}">
			</td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.publisher}"></td>
			<td>
				<form th:action="@{/staff/materialMg/{id}/edit(id=${book.id})}" method="get">
					<button>更新</button>
				</form>
			</td>
			<td>
				<form th:action="@{/staff/materialMg/{id}/bookDelete(id=${book.id})}" class="deleteForm" method="post">
					<button class="deleteButton">削除</button>
				</form>
			</td>
	</table>
</body>
<footer></footer>
<script type="text/javascript">

	let deleteButtons = document.querySelectorAll(".deleteButton");
	let deleteForms = document.querySelectorAll(".deleteForm");

	deleteButtons.forEach(function (deleteButton, i) {

		deleteButton.addEventListener("click", (event) => {
			event.preventDefault();

			console.log(deleteForms);

			// 「OK」時の処理開始 ＋ 確認ダイアログの表示
			if (window.confirm('本当に削除しますか？')) {
				deleteForms[i].submit();
			}

			else {// 「キャンセル」時の処理開始
				window.alert('キャンセルされました'); // 警告ダイアログを表示
			}
		});
	});

</script>

</html>