<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>資料追加</title>
</head>

<body>
	<header>
		<h1>資料の追加</h1>
		<br th:text="${@account.libraryName}+' 職員用ページ'">
		<a th:text="${@account.name}+'さんがログイン中'"></a>
		<br><a href="/staff/logout">ログアウト</a>
	</header>


	<form action="/staff/materialMg/add" method="post">
		<table border="1">
			<tr>
				<th>
					分類番号ID
				</th>
				<td>
					<select name="category">
						<option th:each="category:${category}" th:value="${category.id}">[[${category.name}]]</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>
					タイトル
				</th>
				<td>
					<input type="title" name="title" required>
				</td>
			</tr>
			<tr>
				<th>
					ふりがな（タイトル）
				</th>
				<td>
					<input type="text" name="hurigana" required>
				</td>
			</tr>
			<tr>
				<th>
					著者名
				</th>
				<td>
					<input type="text" name="author" required>
				</td>
			</tr>
			<tr>
				<th>
					出版社
				</th>
				<td>
					<input type="text" name="publisher" required>
				</td>
			</tr>
			<tr>
				<th>
					発行年数
				</th>
				<td>
					<input type="date" name="pubYear" required>
				</td>
			</tr>
			<tr>
				<th>
					所属図書館
				</th>
				<td th:text="${library.name}"></td>
			</tr>
			<tr>
				<th>
					画像
				</th>
				<td>
					<input type="text" name="img" required>
				</td>
			</tr>
		</table>
		<button>新規登録</button>
	</form>
	<a href="/staff/materialMg/bookList">戻る</a>
</body>
<footer></footer>

</html>