<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>本一覧</title>
</head>
<body>
	<h1>本一覧</h1>
	
	<button>50音順</butto>
	<button>人気順</butto>
	<button>出版年順</butto>

<table border="1">
		<tr>
			<th>
				ID
			</th>
			<th>
				分類番号
			</th>
			<th>
				タイトル
			</th>
			<th>
				著者名
			</th>
			<th>
				出版社
			</th>
			<th>
				出版日
			</th>
			<th>
				詳細
			</th>
			<th>
				更新
			</th>
			<th>
				削除
			</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><button>詳細</butto></td>
			<td><button>更新</button></td>
			<td><button>削除</button></td>
		</tr>
	</table>

<a href="/">戻る</a>

</body>
</html>