<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>延滞者一覧</title>
</head>

<body>
	<header>
		<h1>延滞者一覧</h1>
	</header>
	<th:block th:if="${error}">
		<a th:text="${error}"></a>
	</th:block>
	<br>
	<th:block th:if="${delayList}">
		<table border="1">
			<tr>
				<th>利用者ID</th>
				<th>利用者名</th>
			</tr>
			<tr th:each="delays:${delayList}">
				<td>
					<a th:href="@{/staff/userMg/{userId}/userDetail(userId=${delays.id})}" th:text="${delays.id}">
					</a>	
				</td>
				<td th:text="${delays.name}"></td>
			</tr>
		</table>
	</th:block>

	<a href="/staff/userMg">戻る</a>
</body>
<footer></footer>
</html>