<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>画面一覧</title>
</head>

<body>
	
	<h1>職員メニュー</h1>
	
	<form action="/staff/staffMg/bookList" method="get">
		<button>本一覧画面</button>
	</form>
	
	<form action="/staff/staffMg/rentalList" method="get">
		<button>貸出一覧</button>
	</form>

	<form action="/staff/staffMg/resevationList" method="get">
		<button>予約一覧</button>
	</form>

	<form action="/staff/staffMg/orderList" method="get">
		<button>注文一覧</button>
	</form>
	
	<a href="/staff/staffMg/staffTop">Topメニューに戻る</a>
	
</body>

</html>