<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>注文追加</title>
</head>

<body>
	<header th:replace="header">
		<h1>注文追加画面</h1>
	</header>
	<a href="/staff/materialMg/order">前画面に戻る</a>
	<a th:if="${error}">
		<ul th:each="error:${error}" th:text="${error}"></ul>
	</a>
	<form action="/staff/materialMg/orderAdd" method="post">
		<table border="1">
			
			<tr>
				<th>利用者ID</th>
				<td><input type="number" name="user" required></td>
			</tr>
			<tr>
				<th>本ID</th>
				<td><input type="number" name="book" required></td>
			</tr>
			<tr>
				<th>注文日時</th>
				<td><input type="date" name="reservationDate" th:value="${reservationDate}" required></td>
			</tr>
			<tr>
				<th>貸出予定</th>
				<td><input type="date" name="scheduledDate" th:value="${scheduledDate}" required></td>
			</tr>
			<tr>
				<th>受け取り図書館</th>
				<td th:text="${library.name}"></td>
			</tr>
		</table>
		<button>注文追加</button>
	</form>
</body>
<footer></footer>

</html>