<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文変更</title>
</head>
<body>
	<h1>注文変更画面</h1>
	<a href="/staff/materialMg/order">前画面に戻る</a>
	<form th:action="@{/staff/materialMg/{reservationId}/orderEdit(reservationId=${reservation.id})}" method="post">
		<table border="1">
			<tr>
				<th>利用者ID</th>
				<td><input type="number" name="user" th:value="${reservation.user.id}" required></td>
			</tr>
			<tr>
				<th>本ID</th>
				<td><input type="number" name="book" th:value="${reservation.book.id}" required></td>
			</tr>
			<tr>
				<th>注文日時</th>
				<td><input type="date" name="reservationDate" th:value="${reservation.reservationDate}" required></td>
			</tr>
			<tr>
				<th>貸出予定</th>
				<td><input type="date" name="scheduledDate" th:value="${reservation.scheduledDate}" required></td>
			</tr>
			<tr>
				<th>注文図書館ID</th>
				<td><input type="number" name="liburary" th:value="${reservation.library.id}" required></td>
			</tr>
			<tr>
				<th>状態</th>
				<td><input type="number" name="status"  th:value="${reservation.status.id}"required></td>
			</tr>
		</table>
		<button>注文変更</button>
	</form>
</body>
</html>