<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<h1>注文一覧</h1>
	<a href="/">TOPに戻る</a>
	<form action="/" method="get">
		<table border="1">
			<tr>
				<th>注文ID</th>
				<th>利用者ID</th>
				<th>本ID</th>
				<th>注文日時</th>
				<th>貸出予定日</th>
				<th>注文図書館ID</th>
				<th>状況ID</th>
				<th>追加</th>
				<th>変更</th>
				<th>削除</th>
				
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><button>追加</button></td>
				<td><button>変更</button></td>
				<td><button>削除</button></td>
			</tr>
		</table>
		
	</form>
</body>
</html>