<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<header th:replace="header">
		<h1>注文一覧</h1>
	</header>
	<a href="/staff/materialMg">資料管理に戻る</a>
	<a href="/staff/materialMg/orderAdd">追加</a>
	<h2>受注一覧</h2>
	<table border="1">
		<tr>
			<th>注文ID</th>
			<th>利用者ID</th>
			<th>本ID</th>
			<th>注文日時</th>
			<th>貸出予定日</th>
			<th>受け取り図書館</th>
			<th>状況</th>
			<th>削除</th>
			<th>変更</th>
		</tr>
		<tr th:each="send : ${orderSendList}">
			<td th:text="${send.id}"></td>
			<td>
				<a th:href="@{/staff/userMg/{userId}/userDetail(userId=${send.user.id})}" th:text="${send.user.id}"> 
				</a>
			</td>
			<td>
				<a th:href="@{/staff/{id}/bookdetail(id=${send.book.id})}" th:text="${send.book.id}">
				</a>	
			</td>
			<td th:text="${send.reservationDate}"></td>
			<td th:text="${send.scheduledDate}"></td>
			<td th:text="${send.library.name}"></td>
			<td th:text="${send.status.name}"></td>
			<td>
				<form th:action="@{/staff/materialMg/{reservationId}/orderDelete(reservationId=${send.id})}"
					class="deleteForm" method="Post">
					<button class="deleteButton">削除</button>
				</form>
			</td>
			<td>
				<form th:action="@{/staff/materialMg/{reservationId}/lendFromOrder(reservationId=${send.id})}"
						method="get">
					<button>発送済み</button>
				</form>
			</td>
		</tr>
	</table>
	<h2>発注一覧</h2>
		<table border="1">
		<tr>
			<th>注文ID</th>
			<th>利用者ID</th>
			<th>本ID</th>
			<th>注文日時</th>
			<th>貸出予定日</th>
			<th>受け取り図書館</th>
			<th>状況</th>
			<th>削除</th>
			<th>変更</th>
		</tr>
		<tr th:each="accept : ${orderAcceptList}">
			<td th:text="${accept.id}"></td>
			<td>
				<a th:href="@{/staff/userMg/{userId}/userDetail(userId=${accept.user.id})}" th:text="${accept.user.id}"> 
				</a>
			</td>
			<td>
				<a th:href="@{/staff/{id}/bookdetail(id=${accept.book.id})}" th:text="${accept.book.id}">
				</a>	
			</td>
			<td th:text="${accept.reservationDate}"></td>
			<td th:text="${accept.scheduledDate}"></td>
			<td th:text="${accept.library.name}"></td>
			<td th:text="${accept.status.name}"></td>
			<td>
				<form th:action="@{/staff/materialMg/{reservationId}/orderDelete(reservationId=${accept.id})}"
					class="deleteForm" method="Post">
					<button class="deleteButton">削除</button>
				</form>
			</td>
			<td>
				<form th:action="@{/staff/materialMg/{reservationId}/lendFromOrder(reservationId=${accept.id})}"
						method="get">
					<button>到着済み</button>
				</form>
			</td>
		</tr>
	</table>
</body>
<footer></footer>
<script type="text/javascript">
	
	let deleteButtons = document.querySelectorAll(".deleteButton");
	let deleteForms = document.querySelectorAll(".deleteForm");
	
	deleteButtons.forEach(function(deleteButton, i){
		
		deleteButton.addEventListener("click", (event) => {
			event.preventDefault();
			
			console.log(deleteForms);
			
			// 「OK」時の処理開始 ＋ 確認ダイアログの表示
			if (window.confirm('本当に削除しますか？')) {
				deleteForms[i].submit();
			}
	
			else {// 「キャンセル」時の処理開始
				window.alert('キャンセルされました'); // 警告ダイアログを表示
			}
		});
	});

</script>
</html>