<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸出情報更新</title>
</head>
<body>
	<h1>貸出情報更新</h1>
	<form>
		<table border="1">
			<tr>
				<th>貸出ID</th>
				<th>利用者</th>
				<th>本</th>
				<th>貸出日時</th>
				<th>返却予定日</th>
				<th>返却日</th>
				<th>予約ID</th>
				<th>貸出処理者</th>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<button>更新</button>
	</form>
	<a href="">戻る(rentalList.htmlへ)</a>
</body>
</html>