<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>貸出追加</title>
</head>

<body>
	<header>
		<h1>貸出追加</h1>
		<br th:text="${@account.libraryName}+' 職員用ページ'">
		<a th:text="${@account.name}+'さんがログイン中'"></a>
		<br><a href="/staff/logout">ログアウト</a>
	</header>

	<span th:text="${error}" style="color:red;"></span>
	<form action="/staff/materialMg/rentalAdd" method="post">
		<table border="1">
			<tr>
				<th>本のID</th>
				<td>
					<input type="text" name="bookId" required th:value="${bookId}">
			</tr>
			<tr>
				<th>貸出日時</th>
				<td>
					<input type="date" name="rentalDate" th:value="${rentalDate}" required>
				</td>
			</tr>
			<tr>
				<th>返却予定日</th>
				<td>
					<input type="date" name="limitDate" th:value="${limitDate}" required>
				</td>
			</tr>
			<tr>
				<th>予約ID</th>
				<td>
					<input type="text" name="reservationId" th:value="${reservationId}">
				</td>
			</tr>
			<tr>
				<th>貸出処理者（職員ID）</th>
				<td>
					<input type="text" name="staffId" th:value="${staffId}" required>
				</td>
			</tr>
			<tr>
				<th>利用者ID</th>
				<td>
					<input type="text" name="userId" th:value="${userId}" required>
				</td>
			</tr>
			<tr>
				<th>利用者パスワード</th>
				<td>
					<input type="password" name="password" required>
				</td>
			</tr>
		</table>
		<button>追加</button>
	</form>
	<a href="/staff/materialMg/rentalList">戻る</a>
</body>
<footer></footer>

</html>