<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>貸出一覧</title>
</head>

<body>

	<header>
		<h1>貸出一覧</h1>
	</header>

	<span th:text="${error}" style="color:red;"></span>

	<table border="1" th:if="${lendings}">
		<tr>
			<th>貸出ID</th>
			<th>利用者</th>
			<th>本</th>
			<th>貸出日時</th>
			<th>返却予定日</th>
			<th>返却日</th>
			<th>予約ID</th>
			<th>貸出処理者</th>
			<th>更新</th>
			<th>削除</th>
			<th>返却</th>
		</tr>
		<tr th:each="lending:${lendings}">
			<td th:text="${lending.id}"></td>
			<td th:text="${lending.user.id}"></td>
			<td th:text="${lending.book.title}"></td>
			<td th:text="${lending.lendDate}"></td>
			<td th:text="${lending.limitDate}"></td>
			<td th:text="${lending.returnedDate}"></td>
			<td th:if="${lending.reservation}" th:text="${lending.reservation.id}"></td>
			<td th:if="${lending.reservation==null}"></td>
			<td th:text="${lending.staff.id}"></td>
			<td>
				<form th:action="@{/staff/materialMg/{id}/rentalEdit(id=${lending.id})}" method="get">
					<button>更新</button>
				</form>
			</td>
			<td>
				<form th:action="@{/staff/materialMg/{id}/rentalDelete(id=${lending.id})}" method="post">
					<button>削除</button>
				</form>
			</td>
			<td>
				<form th:action="@{/staff/materialMg/{id}/return(id=${lending.id}" method="get">
					<button>返却</button>
				</form>
			</td>
		</tr>
	</table>
	<form action="/staff/materialMg/rentalAdd" method="get">
		<button>新規貸出</button>
	</form>


	<br>
	<a href="/staff/materialMg">戻る</a>

</body>
<footer></footer>

</html>