<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸出追加</title>
</head>
<body>
	<h1>貸出追加</h1>
	<form>
		<table border="1">
			<tr>
				<th>資料のID</th>
				<td>
					<input type="text" name="">
				</td>
			</tr>
			<tr>
				<th>資料のタイトル</th>
				<td>
					<input type="text" name="">
				</td>
			</tr>
			<tr>
				<th>利用者ID</th>
				<td>
					<input type="text" name="">
				</td>
			</tr>
			<tr>
				<th>利用者パスワード</th>
				<td>
					<input type="password" name="">
				</td>
			</tr>
		</table>
		<button>追加</button>
	</form>
	<a href="">戻る（rentalList.htmlへ）</a>
</body>
</html>