<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸出一覧</title>
</head>
<body>
	<h1>貸出一覧</h1>
	<table border="1">
		<tr>
			<th>貸出ID</th>
			<th>利用者</th>
			<th>本</th>
			<th>貸出日時</th>
			<th>返却予定日</th>
			<th>返却日</th>
			<th>予約ID</th>
			<th>貸出処理者</th>
			<th>更新</th>
			<th>削除</th>
			<th>返却</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>更新ボタン（rentalEdit.htmlへ）</td>
			<td>削除ボタン</td>
			<td>返却ボタン（return.htmlへ）</td>
		</tr>
	</table>
	<a href="">追加（rentalAdd.htmlへ）</a>
	<br>
	<a href="">戻る（materialManagement.htmlへ）</a>
</body>
</html>