<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>予約一覧</h1>
	<form action="/" method="post">
		
		<tr>
				<table border="1">
			<th>予約ID</th>
			<th>利用者ID</th>
			<th>本ID</th>
			<th>予約日時</th>
			<th>貸出予定日</th>
			<th>予約図書館ID</th>
			<th>状況</th>
		</tr>
		<tr>
			<th>1</th>
			<th>3</th>
			<th>タイトル</a></th>
			<th>金子拓未</th>
			<th>TACSOL</th>
			<th>昨日</th>
			<th>新品</th>
		</tr>
		</form>
		<a href="リンク先のパス">戻る</a>
</body>
</html>