<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>予約一覧</h1>
	<form action="/" method="post">

		<tr>
			<table border="1">
				<th>予約ID</th>
				<th> <input type.txt="" value="ID"></th>
		</tr>
		<tr>
			<th>利用者ID</th>
			<th> <input type.txt="" value="利用者ID"></th>
		</tr>
		<tr>
			<th>パスワード</th>
		<th> <input type.txt="" value="ID"></th>
		</tr>
<tr>
			<th>本ID</th>
			<th> <input type.txt="" value="本ID"></th>
		</tr>

		<button>追加</button>
	</form>
	<a href="リンク先のパス">戻る</a>
</body>

</html>