<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>職員更新</title>
</head>
<body>
	<h1>職員情報更新画面</h1>
	<a href="/staff/staffMg">前画面に戻る</a>
	<form th:action="@{/staff/staffMg/{staffId}/edit(staffId=${id})}" method="post">
		<table border="1">
			<tr>
				<th>名前</th>
				<td><input type="text" name="name" th:value="${librarystaff.name}"required></td>
			</tr>
			<tr>
				<th>図書館</th>
				<td>港区図書館<input type="hidden" name="libraryId" value="1"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><input type="text" name="email"th:value="${librarystaff.email}"required></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="text" name="password"th:value="${librarystaff.password}"required></td>
			</tr>
		</table>
		<button>職員情報更新</button>
	</form>
</body>
</html>