<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>職員メニュー</title>
</head>

<body>

	<header th:replace="header">
	</header>
	<h1>職員メニュー</h1>
	<form action="/staff/materialMg" method="get">
		<button class="topbutton">資料管理</button>
	</form>
	<form action="/staff/staffMg" method="get">
		<button class="topbutton">職員管理</button>
	</form>
	<form action="/staff/userMg" method="get">
		<button class="topbutton">利用者管理</button>
	</form>
	
	<a href="/staff/logout">ログインに戻る</a>
	
</body>
<footer th:replace="footer"></footer>

</html>