<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>職員一覧</title>
</head>

<body>
	<header>
		<h1>職員一覧</h1>
		<br th:text="${@account.libraryName}+' 職員用ページ'">
		<a th:text="${@account.name}+'さんがログイン中'"></a>
		<br><a href="/staff/logout">ログアウト</a>
	</header>

	<table border="1">
		<tr>
			<th>図書館職員ID</th>
			<th>所属図書館</th>
			<th>名前</th>
			<th>変更</th>
			<th>削除</th>
		</tr>
		<tr th:each="staff : ${staffList}">
			<td th:text="${staff.id}"></td>
			<td th:text="${staff.library.name}"></td>
			<td th:text="${staff.name}"></td>
			<form th:action="@{/staff/staffMg/{staffId}/edit(staffId=${staff.id})}" method="Get">
				<td><button>変更</button></td>
			</form>
			<form th:action="@{/staff/{staffId}/delete(staffId=${staff.id})}" class="deleteForm" method="post">
				<td><button class="deleteButton">削除</button></td>
			</form>
		</tr>
	</table>
	<a href="/staff/staffMg/staffAdd">職員追加</a>
	<br>
	<a href="/staff/staffTop">TOPに戻る</a>
</body>
<footer></footer>
<script type="text/javascript">
	
	let deleteButtons = document.querySelectorAll(".deleteButton");
	let deleteForms = document.querySelectorAll(".deleteForm");
	
	deleteButtons.forEach(function(deleteButton, i){
		
		deleteButton.addEventListener("click", (event) => {
			event.preventDefault();
			
			console.log(deleteForms);
			
			// 「OK」時の処理開始 ＋ 確認ダイアログの表示
			if (window.confirm('本当に削除しますか？')) {
				deleteForms[i].submit();
			}
	
			else {// 「キャンセル」時の処理開始
				window.alert('キャンセルされました'); // 警告ダイアログを表示
			}
		});
	});


</script>
</html>