<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>職員一覧</title>
</head>

<body>
	<header>
		<h1>職員一覧</h1>
	</header>

	<table border="1">
		<tr>
			<th>図書館職員ID</th>
			<th>所属図書館</th>
			<th>名前</th>
			<th>変更</th>
			<th>削除</th>
		</tr>
		<tr th:each="staff : ${staffList}">
			<td th:text="${staff.id}"></td>
			<td th:text="${staff.library.name}"></td>
			<td th:text="${staff.name}"></td>
			<form th:action="@{/staff/staffMg/{staffId}/edit(staffId=${staff.id})}" method="Get">
				<td><button type="submit">変更</button></td>
			</form>
			<form id="deleteForm" th:action="@{/staff/{staffId}/delete(staffId=${staff.id})}" method="post">
				<td><button type="submit">削除</button></td>
			</form>
		</tr>
	</table>
	<a href="/staff/staffMg/staffAdd">職員追加</a>
	<br>
	<a href="/staff/staffTop">TOPに戻る</a>
</body>
<footer></footer>

</html>