<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>利用者一覧</title>
</head>
<body>
	<h1>利用者一覧</h1>
	<a href="">利用者を追加（userAdd.htmlへ）</a>
	<form>
		<input type="text" name="" placeholder="名前">
		<br>
		<input type="text" name="" placeholder="電話番号">
		<br>
		<input type="text" name="" placeholder="メールアドレス">
		<br>
		<input type="text" name="" placeholder="住所">
		<br>
		<button>検索</button>
	</form>
	<table border="1">
		<tr>
			<th>利用者ID</th>
			<th>名前</th>
			<th>詳細</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr>
			<td>ここにuserテーブルからuserIdを出力する</td>
			<td>ここにuserテーブルからnameを出力する</td>
			<td>ここに詳細ボタンを作る（userDetail.htmlへ）</td>
			<td>ここに更新ボタンを作る（userEdit.htmlへ）</td>
			<td>ここに削除ボタンを作る</td>
		</tr>
	</table>
	<br>
	<a href="">戻る（userManagement.htmlへ）</a>
</body>
</html>