<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>利用者追加</title>
</head>
<body>
	<h1>利用者追加フォーム</h1>
	<form>
		<table border="1">
			<tr>
				<th>名前</th>
				<td>
					<input type="text" name="">
				</td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td>
					<input type="text" name="">
				</td>
			</tr>
			<tr>
				<th>住所</th>
				<td>
					<input type="text" name="">
				</td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td>
					<input type="text" name="">
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="">
				</td>
			</tr>
		</table>
		<button>追加へ</button>
		（追加完了のポップアップ表示後userList.htmlを表示）
	</form>
	<a href="">戻る(userList.htmlへ）</a>
</body>
</html>