<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>利用者管理機能</title>
</head>

<body>
	<header th:replace="header">
		<h1>利用者管理メニュー</h1>
	</header>
	<form action="/staff/userMg/userList" method="get">
		<button class="topbutton">利用者一覧</button>
	</form>
	<form action="/staff/userMg/delinquentList" method="get">
		<button class="topbutton">延滞者一覧</button>
	</form>

	<a href="/staff/staffTop">Topメニューに戻る</a>
</body>
<footer></footer>

</html>