<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>利用者詳細</title>
</head>

<body>
	<header>
		<h1>利用者詳細</h1>
		<br th:text="${@account.libraryName}+' 職員用ページ'">
		<a th:text="${@account.name}+'さんがログイン中'"></a>
		<br><a href="/staff/logout">ログアウト</a>
	</header>
	<table border="1">
		<tr>
			<th>利用者ID</th>
			<td th:text="${user.id}"></td>
		</tr>
		<tr>
			<th>名前</th>
			<td th:text="${user.name}"></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td th:text="${user.email}"></td>
		</tr>
		<tr>
			<th>住所</th>
			<td th:text="${user.address}"></td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td th:text="${user.tel}"></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td th:text="${user.password}"></td>
		</tr>
	</table>
	貸出状況
	<table border="1">
		<tr>
			<th>貸出ID</th>
			<th>本ID</th>
			<th>タイトル</th>
			<th>貸出日</th>
			<th>返却予定日</th>
			<th>返却日</th>
		</tr>
		<tr th:each="lending:${lendingList}">
			<td th:text="${lending.id}"></td>
			<td th:text="${lending.book.id}"></td>
			<td th:text="${lending.book.title}"></td>
			<td th:text="${lending.lendDate}"></td>
			<td>
				<span th:if="${lending.limitDate}" th:text="${lending.limitDate}">
				</span>
				<span th:if="${limit}" th:text="${limit}" style="color: red;">
				</span>
			</td>
			<td th:if="${lending.returnedDate}" th:text="${lending.returnedDate}"></td>
		</tr>
	</table>
	<a href="/staff/userMg/userList">利用者一覧</a>
	<br>
	<a href="/staff/userMg/delinquentList">延滞者一覧</a>
</body>
<footer></footer>

</html>