<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>利用者一覧</title>
</head>

<body>
	<header>
		<h1>利用者一覧</h1>
	</header>
	<a href="/staff/userMg/new">利用者を追加</a>
	<form action="/staff/userMg/userList" method="get">
		<input type="text" name="researchUserId" placeholder="利用者ID">
		<br>
		<input type="text" name="researchUserName" placeholder="名前">
		<br>
		<button>検索</button>
	</form>
	<th:block th:if="${userList}">
		<table border="1">
			<tr>
				<th>利用者ID</th>
				<th>名前</th>
				<th>詳細</th>
				<th>更新</th>
				<th>削除</th>
			</tr>
			<tr th:each="users:${userList}">
				<td th:text="${users.id}"></td>
				<td th:text="${users.name}"></td>
				<td>
					<form th:action="@{/staff/userMg/{userId}/userDetail(userId=${users.id})}" method="get">
						<button>詳細</button>
					</form>
				</td>
				<td>
					<form th:action="@{/staff/userMg/{userId}/userEdit(userId=${users.id})}" method="get">
						<button>更新</button>
					</form>
				</td>
				<td>
					<form th:action="@{/staff/userMg/{userId}/userDelete(userId=${users.id})}" class="deleteForm" method="post">
						<button class="deleteButton">削除</button>
					</form>
				</td>
			</tr>
		</table>
	</th:block>
	<br>
	<a href="/staff/userMg">戻る</a>
</body>
<footer></footer>
<script type="text/javascript">
	
	let deleteButtons = document.querySelectorAll(".deleteButton");
	let deleteForms = document.querySelectorAll(".deleteForm");
	
	deleteButtons.forEach(function(deleteButton, i){
		
		deleteButton.addEventListener("click", (event) => {
			event.preventDefault();
			
			console.log(deleteForms);
			
			// 「OK」時の処理開始 ＋ 確認ダイアログの表示
			if (window.confirm('本当に削除しますか？')) {
				deleteForms[i].submit();
			}
	
			else {// 「キャンセル」時の処理開始
				window.alert('キャンセルされました'); // 警告ダイアログを表示
			}
		});
	});


</script>

</html>