<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>利用者編集</title>
</head>
<body>
	<h1>利用者編集フォーム</h1>
	<form th:action="@{/staff/userMg/{userId}/userEdit(userId=${user.id})}" method="post">
		<a th:if="${error}">
			<ul th:each="error:${error}" th:text="${error}"></ul>
		</a>
		<table border="1">
			<tr>
				<th>利用者ID</th>
				<td th:text="${user.id}"></td>
			</tr>
			<tr>
				<th>名前</th>
				<td>
					<input type="text" name="name" th:value="${user.name}">
				</td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td>
					<input type="text" name="email" th:value="${user.email}">
				</td>
			</tr>
			<tr>
				<th>住所</th>
				<td>
					<input type="text" name="address" th:value="${user.address}">
				</td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td>
					<input type="text" name="tel" th:value="${user.tel}">
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password" th:value="${user.password}">
				</td>
			</tr>
		</table>
		<button>更新</button>
	</form>
	<a href="/staff/userMg/userList">戻る</a>
</body>
</html>