<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>利用者一覧</title>
</head>
<body>
	<h1>利用者一覧</h1>
	<a href="/staff/staffMg/userAdd">利用者を追加（userAdd.htmlへ）</a>
	<form action="/staff/staffMg/userList" method="get">
		<input type="text" name="researchUserId" placeholder="利用者ID">
		<br>
		<input type="text" name="researchUserName" placeholder="名前">
		<br>
		<button>検索</button>
	</form>
	<th:block th:if="${nothing}">
		<a th:text="${nothing}"></a>
	</th:block>
	<th:block th:if="${userList}">
	<table border="1">
		<tr>
			<th>利用者ID</th>
			<th>名前</th>
			<th>詳細</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each="users:${userList}">
			<td th:text="${users.id}"></td>
			<td th:text="${users.name}"></td>
			<td>
				<form th:action="@{/staff/staffMg/{userId}/userDetail(userId=${users.id})}" method="get">
					<button>詳細</button>
				</form>
			</td>
			<td>
				<form th:action="@{/staff/staffMg/{userId}/userEdit(userId=${users.id})}" method="get">
					<button>更新</button>
				</form>
			</td>
			<td>
				<form th:action="@{/staff/staffMg/{userId}/userDelete(userId=${users.id})}" method="post">
					<button>削除</button>
				</form>
			</td>
		</tr>
	</table>
	</th:block>
	<br>
	<a href="/staff/staffMg/userManagement">戻る</a>
</body>
</html>