<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>図書館管理者管理</title>
</head>

<body>
	<header th:replace="admin/adminheader">
		
		
	</header>

	<table border="1">
		<tr>
			<th>管理者ID</th>
			<th>名前</th>
			<th>変更</th>
			<th>削除</th>
		</tr>
		<tr th:each="libraryMg : ${libraryMgList}">
			<td th:text="${libraryMg.id}"></td>
			<td th:text="${libraryMg.name}"></td>
			<form th:action="@{/admin/libraryMg/{libraryMgId}/edit(libraryMgId=${libraryMg.id})}" method="get">
				<td><button>変更</button></td>
			</form>
			<form th:action="@{/admin/libraryMg/{libraryMgId}/delete(libraryMgId=${libraryMg.id})}" class="deleteForm"
				method="post">
				<td><button class="deleteButton">削除</button></td>
			</form>
		</tr>
	</table>
	<a href="/admin/libraryMg/libraryMgAdd">管理者追加</a>
	<br>
	<a href="/admin/adminTop">TOPに戻る</a>

</body>
<script type="text/javascript">

	let deleteButtons = document.querySelectorAll(".deleteButton");
	let deleteForms = document.querySelectorAll(".deleteForm");

	deleteButtons.forEach(function (deleteButton, i) {

		deleteButton.addEventListener("click", (event) => {
			event.preventDefault();

			console.log(deleteForms);

			// 「OK」時の処理開始 ＋ 確認ダイアログの表示
			if (window.confirm('本当に削除しますか？')) {
				deleteForms[i].submit();
			}

			else {// 「キャンセル」時の処理開始
				window.alert('キャンセルされました'); // 警告ダイアログを表示
			}
		});
	});

</script>

</html>