<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta charset="UTF-8">
	<title>利用者ログイン画面</title>
</head>

<body>
	<header>
		<h1>利用者ログイン</h1>
	</header>
	<div th:each="error:${errorList1}" class="errormsg">
		<span th:text="${error}"></span>
	</div>
	<form action="/user/login" method="post">
		<input type="text" name="userid" placeholder="利用者ID" class="login" required>
		<br>
		<input type="password" name="password" placeholder="パスワード" class="login">
		<br>
		<button>ログイン</button>
	</form>
</body>
<footer></footer>

</html>