<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/userstyle.css">
	<meta charset="UTF-8">
	<title>予約・注文</title>
</head>

<body>
	<header>
	<h1>予約・注文</h1>
	</header>
	<a>以下の資料を予約・注文しますか？</a>
	<a th:if="${error}">
		<ul th:each="error:${error}" th:text="${error}"></ul>
	</a>
	<th:block th:if="${bookOrder}">
		<table border="1">
			<tr>
				<th>ID</th>
				<td th:text="${bookOrder.id}"></td>
			</tr>
			<tr>
				<th>分類番号</th>
				<td th:text="${bookOrder.category.categoryNum}"></td>
			</tr>
			<tr>
				<th>タイトル</th>
				<td th:text="${bookOrder.title}"></td>
			</tr>
			<th>タイトル（ふりがな）</th>
			<td th:text="${bookOrder.hurigana}"></td>
			<tr>
				<th>著者名</th>
				<td th:text="${bookOrder.author}"></td>
			</tr>
			<tr>
				<th>出版社</th>
				<td th:text="${bookOrder.publisher}"></td>
			</tr>
			<tr>
				<th>発行年</th>
				<td th:text="${bookOrder.pubYear}"></td>
			</tr>
			<tr>
				<th>所属図書館</th>
				<td th:text="${bookOrder.library.name}"></td>
			</tr>
			<tr>
				<th>状態</th>
				<td th:text="${bookOrder.condition.name}"></td>
			</tr>
		</table>
	</th:block>
	<form th:action="@{/user/{bookId}/order(bookId=${bookOrder.id})}" method="post">
		<input type="text" name="userId" placeholder="利用者ID"><br>
		<input type="text" name="userPassword" placeholder="パスワード"><br>
		<button>予約・注文</button>
	</form>
	<a>利用者ID・パスワードをお持ちでない方はカウンターまでお越しください</a>
	<br>
	<a th:href="@{/user/{id}/bookDetail(id=${bookOrder.id})}">戻る</a>
</body>
<footer></footer>
</html>