<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/userstyle.css">
	<meta charset="UTF-8">
	<title>予約一覧</title>
</head>

<body>
	<header>
	<h1>予約一覧</h1>
	</header>
	<table border="1">
		<tr>
			<th>
				予約ID
			</th>
			<th>
				利用者ID
			</th>
			<th>
				パスワード
			</th>
			<th>
				本ID
			</th>

			<th>
				追加
			</th>
			<th>
				変更
			</th>
			<th>
				削除
			</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>

			<form action="/staff/staffMG" method="post">
				<td><button>追加</button></td>
			</form>
			<td>
				<form th:action="@{/items/{itemId}/edit(itemId=${item.id})}" method="get">
					<button>変更</button>
				</form>
			</td>
			<td>
				<form th:action="@{/items/{itemId}/edit(itemId=${item.id})}" method="post">
					<button>削除</button>
				</form>
			</td>
		</tr>
		</tr>
	</table>

	<a href="/">戻る</a>
</body>
<footer></footer>
</html>