<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>本一覧</title>
</head>

<body>
	<h1>本一覧</h1>

	<button>50音順</button>
	<button>人気順</button>
	<button>出版年順</button>
	

	<table border="1">
		<tr>
			<td>資料ID</td>
			<td>分類番号</td>
			<td>タイトル</td>
			<td>著者</td>
			<td>出版社</td>
			<td>出版日</td>
		</tr>
		<tr th:each="book:${books}">
			<td th:text="${book.id}"></td>
			<td th:text="${book.category.categoryNum}"></td>
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.publisher}"></td>
			<td th:text="${book.pubYear}"></td>
		</tr>			
	</table>
</body>

</html>