<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/css/userstyle.css">
<meta charset="UTF-8">
<title>資料詳細</title>
</head>
<body>
	<header>
	<h1>資料詳細</h1>
	<small class="caption"></small>
	</header>
	 <div class="content">
        <div class="content_img">
			<!--<img th:src="${bookDetail.img}">-->
			画像を表示
		</div>
        
    <div class="content_description">
      <table border="1" class="overtable">
		
		<tr>
			<th>分類番号</th>
			<td th:text="${bookDetail.category.categoryNum}"></td>
		</tr>
		<tr>
			<th>タイトル</th>
			<td th:text="${bookDetail.title}"></td>
		</tr>
			<th>タイトル（ふりがな）</th>
			<td th:text="${bookDetail.hurigana}"></td>
		<tr>
			<th>著者名</th>
			<td th:text="${bookDetail.author}"></td>
		</tr>
		<tr>
			<th>出版社</th>
			<td th:text="${bookDetail.publisher}"></td>
		</tr>
		<tr>
			<th>発行年</th>
			<td th:text="${bookDetail.pubYear}"></td>
		</tr>
		</form>
	</table>
	</div>
	</div>
	<table border="1" class="undertable">
		<tr>
			<th>所属図書館</th>
			<th>状態</th>
			<th>予約・注文</th>
			
		</tr>
		<tr th:each="title:${bookList}">
			<td th:text="${title.library.name}"></td>
			<td th:text="${title.condition.name}"></td>
			<td>
				<form th:action="@{/user/{bookId}/order(bookId=${bookDetail.id})}" method="get">
					<button class="btn-flat-simple">予約・注文</button>
				</form>
			</td>
		</tr>
		<tr>
			
			
		</tr>
	</table>

	
</body>
<footer></footer>
</html>