<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<table border="1">
		<h1>本一覧</h1>
		<button>50音順</button>
		<button>出版年順</button>
		<button>人気順</button>
		  <form action="/" method="post">
		<tr>
			<th>ID</th>
			<th>分類番号</th>
			<th>タイトル</th>
			<th>著者名</th>
			<th>出版社</th>
			<th>出版日</th>
			<th>詳細</th>
		</tr>
		<tr>
			<th>1</th>
			<th>3</th>
			<th>タイトル</a></th>
			<th>金子拓未</th>
			<th>TACSOL</th>
			<th>昨日</th>
			<th><button>詳細</button></th>
		</tr>
		</form>
	</table>
	
	<a href="リンク先のパス">戻る</a>
</body>

</html>