@charset "UTF-8";

table {
	width: 60%;
	/* テーブルの幅をページの幅の80%に設定 */
	margin: 0 auto;
	/* テーブルを中央に配置 */
	border-collapse: separate;
	/* セルの境界線を分離 */
	border-spacing: 8px;
	/* 行間隔を設定 */
	background-color: #ffffff;
}

td,
th {
	padding: 5px;
	/* セルの余白を設定 */
	font-size: 8px;
	/* 文字サイズを設定 */
	text-align: center;
	/* テキストを中央揃えに設定 */
}

button {
	height: 70px;
	min-width: 70px;
	margin: 0px 0px;
	background: #EDEDED;
	border-radius: 10px;
	box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.3);
	color: #808080;
	font: bold 18px arial;
	text-align: center;
	line-height: 41px;
	display: inline-block;

}
td input[type="text"] {
	width: 100%;
	/* テキストボックスの幅を親セルに合わせる */
	height: 80%;
	/* テキストボックスの高さを親セルに合わせる */
	box-sizing: border-box;
	/* テキストボックスのサイズを調整する際に、borderやpaddingも含める */
	padding: 20px;
	/* テキストボックスの内側の余白を設定 */
	font-size: 32px;
	/* テキストボックスの文字サイズを設定 */
	border: none;
	/* テキストボックスの枠線を消す */
}

input{
	margin-left: 120px;
	font-size: 60px;
	max-width: 70%;
	max-height: 80px;
}
button.a{
	font-size: 60px;
	margin-left: 30px;
}
body {
	background-image: url("/css/gazou/kidsbook.png");
	background-repeat: repeat;
	background-position: 100% 100%;
	background-size: 20%;
}
image {
	opacity: 0.5;
}
